* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  line-height: 1;
  font-weight: 400;
  background-color: #341b2b;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  min-height: 100%;
  padding: 0 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* BIO SECTION */

.bio-box {
  padding: 3.8rem;
  background-color: #0a0909;
  color: #fff;
  border-radius: 10px;
  width: 40rem;
  margin: 1.5rem;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.img {
  border-radius: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.profile h2 {
  font-size: 2rem;
}

.profile h4 {
  font-size: 1.4rem;
  font-weight: lighter;
  background-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.logo {
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
  background-color: #333;
  color: #2460cf;
  padding: 0.5rem;
  margin: 0.8rem;
  border-radius: 3px;
  transition: 0.3s;
}

.logo:hover,
.icon:hover {
  transform: scale(1.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-twitter {
  color: #25d0e7;
}

.logo-dribbble {
  color: #dc143c;
}

.logo-linkedin {
  color: #2929a0f8;
}

.contact-box {
  background-color: #333;
  padding: 1.4rem;
  min-width: 100%;
  border-radius: 5px;
}

.row {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1.5rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
  background-color: #000;
  color: #d10d34;
  padding: 0.5rem;
  margin: 0.8rem;
  border-radius: 3px;
  transition: 0.3s;
}

.icon-email {
  color: #19d8d8;
}

.icon-location {
  color: hsl(36, 100%, 90%);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 75%;
  min-width: 75%;
}

.content span {
  font-size: 1rem;
}

.content h5 {
  font-size: 1.3rem;
}

.btn {
  font-size: 1.6rem;
  padding: 1.3rem 5rem;
  color: #fff;
  background-color: darksalmon;
  border: none;
  border-radius: 25px;
}

/* ABOUT ME SECTION */

.about-me-box {
  padding: 2rem 3.8rem;
  background-color: #0a0909;
  color: #fff;
  border-radius: 10px;
  max-width: 80rem;
  margin: 1.5rem;
  align-items: flex-start;
}

.about-me h1 {
  font-size: 4.4rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1.2rem;
  position: relative;
}

.about-me h1::after {
  content: " ";
  display: inline-block;
  background-color: crimson;
  width: 20%;
  height: 0.3rem;
  position: absolute;
  top: 50%;
  right: 46%;
}

.about-me p {
  color: #888;
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
}

.about-me h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.box {
  display: grid;
  column-gap: 3rem;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

.work-box {
  display: flex;
  background-color: #0a0909;
  padding: 2rem 3rem;
  margin: 1rem;
  border-radius: 5px;
  border: 0.2px solid #333;
}

.work {
  display: flex;
  justify-content: space-between;
}

.work-icon {
  height: 4rem;
  width: 4rem;
}

.ui-icon {
  color: blueviolet;
}

.app-icon {
  color: yellow;
}

.api-icon {
  color: palevioletred;
}

.web-icon {
  color: blue;
}

.work h5 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.work p {
  color: #888;
  font-size: 1.5rem;
}
